.git
.venv
__pycache__
**/__pycache__
*.pyc
**/*.pyc
.pytest_cache
.ruff_cache
.mypy_cache

node_modules
**/node_modules
dist
**/dist
.vite

volumes
docs
specs
administrative_regulations
documents_administrative_regulation.csv
scripts/invalid_pdfs.txt

.env
**/.env
!**/.env.example

.DS_Store
.idea
.vscode
